<% content_for :hero do %>
<div class="py-24 bg-red-500 text-white mb-16">
  <div class="container flex flex-wrap justify-center mx-auto text-center">
    <h1 class="text-4xl font-black leading-tight"> Content for Ruby on Rails </h1>
    <p class="w-full text-lg text-red-100"> The number one resources for Ruby on Rails Developer </p>

    <div class="flex items-center mt-6 mb-3">
    <%= link_to "Find a developer", "#", class: "btn btn-white btn-outline lg:mr-2" %>
    <%= link_to "Find a job", jobs_path(anchor: 'jobs-index'), class: "btn btn-green btn-outline lg:ml-2" %>

    </div>
    <p class="w-full"> or find a developer in the <%= link_to "comunity", "#", class: "underline" %> </p>
  </div>
</div>
<% end %>

    <div class="container px-4 mx-auto lg:px-48">
    <%= render @jobs %>
    </div>
